# Ignore environment files, editor folders, OS files and node modules
.env
vendor/
node_modules/
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.lock

# Ignore system files
*.swp

# Composer
composer.phar

# Other
coverage/
tests/_output/
